body {
    font-family: 'Catamaran', sans-serif;
    background-color: #fefefe;
    width: 100%;
    margin: 0;
}

a:hover {
    color: white;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #82b7cf;
    width: 100%;
    height: 100px;
    z-index: 1;
    padding: 34px 0;
    padding-top: 0;
}

header .header-brand {
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 35px;
    color: #111;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
}


.header img {
   margin-top: 30px;
   padding: 0;

}

.header h1{
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.header h2{
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
}


nav ul {
    display: block ;
    font-size: 16px;
    margin: 0 auto;
    width: fit-content;
}

nav ul li {
    display: inline-block;
    padding-right: 100px;
    
}

nav ul li a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    color: #111;
    text-decoration: none;
    
}

footer {
    background-color: #061839;
    color: white;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    line-height: 1.5;
}


.index-banner{
    width: 100%;
    background-image: url("home_Header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    margin-top: 134px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: ease-in-out;

    
}

.index-banner:hover {
    background-image: url("reservations_banner.jpg");
}



.description {
    text-align: center;
    margin: 100px 100px;
    font-weight: bold;
    font-size: 20px;
    
}

.description p::first-line {
    color: brown;
}

.description p::first-letter {
    color: green;
}

.description p::selection {
    color: purple;
}

.description p::before {
    content: url(logo2.png);
}

.description p::after {
    content: url(logo2.png);
}

.check-in-out {
    background-color: #18499e;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    font-size: 20px ;
    
}

.check-in-out input, select {
    margin-right: 50px;
}

.showcase {
    width: 100%;
    background-image: url("showcase.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    margin: 100px 0;
}


#footer-content {
    float: left;
    padding-left: 80px;
    font-size: 20px ;
}

#footer-content ul li {
    list-style: none;
    font-size: 15px;
}

#footer-content a {
    color: white;
    text-decoration: none;
}

#footer-content a:hover {
    color: cyan;
}

/* codes for contact */

#map {
    margin-top: 50px;
    margin-bottom: 100px;
    float: left;
}

#contact {
    float: left;
    margin-top: 150px;
    padding-left: 200px;
}

#contact a{
    text-decoration: none;
    color: black;
    font-size: 25px ;
}

.contact-banner {
    text-align: center;
    margin: 134px 0 0px;
    font-weight: bold;
    font-size: 20px;
    background-color: #4870b6;
    width: auto;
    padding: 50px 150px;
    color: black;
    font-size: 25px;
    font-family: 'Catamaran', sans-serif;
}

/* codes for reservation */

#reservations {
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
}

.reservations-banner {
    width: 100%;
    background-image: url("reservations_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    margin-top: 134px;
    text-align: center;
}

.reservations-banner img {
    padding-top: 30px;
}

.reservations-banner h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
}



/* codes for Private Events */

.event1 {
    display: block;
    float: right;
}

.event1 img {
    height: 500px;
    width: 50%;
    float: right;
}

.event1 #party {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    padding-top: 150px;
}

.event-description p {
    display: inline;
    padding-top: 134px;
    
}

.event2 {
    display: block;
    float: right;
}

.event2 img {
    height: 500px;
    width: 50%;
    float: left;
}

.event2 #wedding {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    padding-top: 150px;
}

.events-banner {
    text-align: center;
    margin: 134px 0 0px;
    font-weight: bold;
    font-size: 20px;
    background-color: #4870b6;
    width: auto;
    padding: 50px 150px;
    color: black;
    font-size: 25px;
    font-family: 'Catamaran', sans-serif;
}

.events-banner p a {
    text-decoration: none;
    color: black;
}

/* codes for rooms */


.rooms-banner {
    text-align: center;
    margin: 134px 0 0px;
    font-weight: bold;
    font-size: 20px;
    background-color: #4870b6;
    width: auto;
    padding: 50px 150px;
    color: black;
    font-size: 25px;
    font-family: 'Catamaran', sans-serif;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contentContainer .image {
    width: 50%;
}

.contentContainer img {
    height: 500px;
    max-width:100%;
    width:100%;
}

.contentContainer .contentTitle {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    padding-top: 150px;
    width: 50%;
}


.contentContainer a {
    color: black;
    text-decoration: none;
}


.contentContainer a:hover {
    color: white;

}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 20px;
    text-align: justify;
}

.modal-content h1 {
    text-align: center;
}
  

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

/* codes for about */

.about {
    padding-top: 134px;
    font-size: 20px;
    margin: 0 10% 5% 10%;
    
}

.about p {
    font-style: italic;
    font-weight: 100;
}

/* codes for bar */

.bar-banner {
    width: 100%;
    background-image: url("bar-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    margin-top: 134px;
    position: relative;
    bottom: 0px;
    text-align: center;
}

.bar-banner h1 {
    color: #ff5959;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu {
    float: left;
    margin: 20px 50px;
    word-spacing: 5px;
}

.menu p {
    font-size: 20px;
}
/* codes for notfound */

.notfound {
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    padding-top: 134px;

}


